
<%= simple_form_for(@channel) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.label :channel %>
    <%= f.text_field :channel, class:'form-control', wrapper: false %>
  </div>

  <div class="form-actions form-group">
    <%= f.button :submit %>
  </div>
<% end %>
