<h1><%= @conversations.subject %></h1>
<% @conversation.reciepts_for(current_user).each do |reciept| %>
<div>
    </div><%= reciept.message.sender.name %> commented: </div>
    <p><%= reciept.message.body %></p>
</div>
<% end %>

<%= form_tag conversation_messages_path(@conversation), method: :post do %>
<div>
    <%=text_area_tag :body %>
</div>

<%= submit_tag %>
<% end %>