<div class="row">
  <div class = "col-10">
    <div class = "card">
      <h2 class = "card-header"><%= @discussion.title %></h2>
      <div class ="card-body">
        <p><em><medium>
          by <%= @discussion.user.username %>
        </p></em></medium>
        <div class="content"><%= markdown(@discussion.content) %></div>
        <% if discussion_author(@discussion) || has_role?(:admin) %>
          <%= link_to 'Edit Discussion', edit_discussion_path(@discussion), class:'btn btn-outline-secondary'%>
          <%= link_to 'Delete', discussion_path(@discussion), method: :delete, data: { confirm: "Delete discussion?" }, class:'btn btn-outline-secondary' %>
        <% end %>
        <div class="button">
          <%= link_to "Approve", moderation_approve_fp_path %>
        </div>
      </div>
  
</div>