<!DOCTYPE html>
<html>
  <head>
    <title>Saasapp</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet"> 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Homepage set in pages_controller file for now -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to root_path, class: "navbar-brand" do %>
        Javelina Community
      <%end%>
      
      <!--Adds navbar toggle when window is minimized-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- mr-auto will align contents left... ml-md-auto is another option to align left-->
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to discussions_path, class: "nav-link" do %>
                Forum
              <%end%>
            </li>
            <li class="nav-item active">
              <%= link_to mailbox_inbox_path, class: "nav-link" do %>
                Inbox
              <%end%>
            </li>
            <li class="nav-item active">
              <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do%>
                Log Out
              <%end%>
            </li>
          <% else %> 
            <li class="nav-item active">
              <%= link_to new_user_session_path, class: "nav-link" do %>
                Log In<span class="sr-only">(current)</span>
              <%end%>
            </li>
            
            <li class="nav-item active">
              <%= link_to new_user_registration_path, class: "nav-link" do %>
                Sign Up<span class="sr-only">(current)</span>
              <%end%>
            </li>
          <%end%>
        </ul>
      </div>
    </nav>
    
    <div class="container">
      <p id="notice"><%= notice %></p>
      <%= yield %>
    </div>
  </body>
</html>
